<h1>User Details</h1>
<div class="card">
  <span class="title"><%= @user.name %></span>
  <span class='detail'><%= @user.is_admin ? "Administrator":"" %></span>
  <span class="detail"><%=@user.email %></span>
</div>

<%= link_to 'Edit', edit_user_path(@user)  %>  |
<%= link_to 'Back', users_path %>
