<!--<h1>Posts</h1>-->

<br/>
<%= form_tag posts_path, :method => 'get' do %>
    <div>
      <%= select_tag :type, options_for_select({"Content" => :content,"Category" => :category,"User" => :user}, params[:type]) %>
      <%= text_field_tag :search, params[:search] %>
      <%= submit_tag "Search", :name => nil %>
    </div>
<% end %>
<div><br/>
<span class="addNew"><%= link_to '+New Post', new_post_path %></span>
<% if @posts.count == 0 %>
      <div id="noPosts">
    No posts to show! Why don't you start one?
      </div>
<% end %>
<% @posts.each do |post| %>
      <div class="postBar">
          <div class="postTopBar">&nbsp;
            <div class="left author">
              posted by <%= link_to post.user.name.capitalize, user_path(post.user) %> | last edited on <%= post.updated_at.asctime %>
            </div>
            <div class="votes right"><span class="votesCount"><%=  post.votes.count %></span><%= "Vote".pluralize(post.votes.count) %></div></div>
          <div class="postContentBar clear">
            <h3><%= link_to post.title, post %></h3>
            <p><%= post.content %></p>
          </div>
          <div class="postBottomBar">   &nbsp;
            <div class="left"><span class="category">#<%= post.category.name.downcase %></span></div>
            <div class="right">
              <% if @current_user && (post.user.id == @current_user.id || @current_user.is_admin?) %>
                  <%= link_to 'Edit', edit_post_path(post) %>
                  <%= link_to 'Delete', post, method: :delete, data: { confirm: 'Are you sure?' } %>
              <% end %>
            </div>
          </div>
      </div>
<% end %>

<span class="addNew"><%= link_to '+New Post', new_post_path %></span>
    </div>