<p id="notice"><%= notice %></p>

  <h2><%= @post.title %></h2>
<p>
  <%= @post.content %>
</p>
<span class="category">
  #<%= @post.category.name %>
</span>
<% if @post.votes.any? { |v| v.user_id == @current_user.id } %>
    <p>You
      <% if @post.votes.count - 1 > 0 %> and <%= pluralize @post.votes.count - 1, "person" %>
          (<%= link_to 'Show', '/votes/list?id='+@post.id.to_s+'&voteable_type=post', :target => :blank %>)
      <% end %> voted for this post.</p>
<% else %>
    <%= render :partial => "votes/form", :locals => {:obj => @post, :url => post_votes_path(:voteable_type => "post", :post_id => @post.id)} %>
<% end %>
<h2>Comments</h2>
<% @post.comments.each do |comment| %>
    <p>
      <b></b>
      <%= comment.user.name.capitalize %> says: <%= comment.content %>
      <span class="vote">
        <!--http://stackoverflow.com/questions/4402556/rails-confused-about-syntax-for-passing-locals-to-partials-->
        <% if comment.votes.any? { |v| v.user_id == @current_user.id } %>
    <p>You
      <% if @post.votes.count - 1 > 0 %> and <%= pluralize comment.votes.count - 1, "person" %>
          (<%= link_to 'Show', '/votes/list?id='+comment.id.to_s+'&voteable_type=comment', :target => :blank %>)
      <% end %> voted for this comment.</p>
<% else %>
        <%= render :partial => "votes/form", :locals => {:obj => comment, :url => comment_votes_path(:voteable_type => "comment", :comment_id => comment.id)} %>
<% end %>
      </span>
    </p>
<% end %>
<h2>Add a comment:</h2>
<%= form_for([@post, @post.comments.build]) do |f| %>
    <div class="field">
      <%= f.label :content %>
      <br/>
      <%= f.text_area :content %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>
<% if @is_own_post %> <%= link_to 'Edit', edit_post_path(@post) %> |
<% end %>
<%= link_to 'Back', posts_path %>
