<h1>Listing categories</h1>

<% @categories.each do |category| %>
    <div class="card">
      <div class="title"><%= category.name %></div>
      <div class="links">
        <%= link_to 'Show', category %>
        <%= link_to 'Edit', edit_category_path(category) %>
        <%= link_to 'Delete', category, method: :delete, data: {confirm: 'Are you sure?'} %>
      </div>
    </div>
<% end %>
</table>

<br/>

<span class="addNew"><%= link_to '+New Category', new_category_path %>      </span>
