
<div class="left">
  <h2>Login</h2>
<%= form_for @user_session, :as => :user_session, :url => { :action => "create" } do |f| %>
      <div class="field">
    <%= f.label :email %>
    <%= f.text_field :email %>
      </div>
      <div class="field">
    <%= f.label :password %>
    <%= f.password_field :password %></div>
    <!--= f.check_box :remember_me %><!--= f.label :remember_me %><br />  -->
    <%= f.submit "Login" %>
<% end %>
</div>
<div class="right">
<p>
  <b>Don't have an account? Register here. Its free!</b>
</p>
  <%= render :partial => 'users/form' %>
</div>

<!-- New User?> <!-- %= f.submit "Register" %>